:root {
    --dark-bg: #1F2937; 
    --hero-main-text-color: #F9FAF8;
    --hero-secondary-text-color: #E5E7EB;
    --button-color: #3882F6;
    --quote-text: #1F2937;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    /* padding: 100px; */
}

/* Header */

.header {
    background-color: var(--dark-bg);
    display: flex;
    justify-content: space-between;
    padding: 1rem 5rem;
}

#logo-text {
    color: var(--hero-main-text-color);
    font-size: 24px;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 2em;
}

.nav-link{
    text-decoration: none;
    color: var(--hero-secondary-text-color);
    font-size: 18px;
}

/* Hero */

.hero {
    background-color: var(--dark-bg);
    display: flex;
    padding: 4rem 5rem;
    gap: 1rem;
    align-items: center;
}

.title {
    font-size: 48px;
    color: var(--hero-main-text-color);
    font-weight: 900;
}

.subtext {
    font-size: 18px;
    color: var(--hero-secondary-text-color);
}

.sign-up {
    background-color: var(--button-color);
    color: var(--hero-main-text-color);
    font-size: 14px;
    padding: 5px 20px;
    border-radius: 5px;
    border: none;
    width: 30%;
}

.left {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

/* Info Container */

.info-container {
    padding: 1rem 5rem;
}

.info-container h2 {
    text-align: center;
    font-size: 36px;
    color: var(--dark-bg);
    font-weight: 900;
    padding: 1rem
}

.boxes {
    display: flex;
    justify-content: center;
    padding: 2rem 5rem;
    gap: 2rem
}

.info-box {
    margin: 0 auto;
}

.info p {
    text-align: center;
    font-size: 14px;
    color: var(--dark-bg);
    padding: 0.5rem
}

.info-box {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    border: 4px solid var(--button-color)
}

/* Quote Section */

.quote-container {
    background-color: var(--hero-secondary-text-color);
    padding: 2rem 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.quote {
    font-size: 36px;
    color: var(--quote-text);
    font-weight: 300;
    padding: 5rem;
    padding-bottom: 0;
    /* border: 2px solid red; */
}

.author {
    color: var(--quote-textdark-bg);
    font-weight: bold;
    align-self: flex-end;
    /* border: 2px solid red; */
    margin-right: 5rem;
    padding: 1rem;
}

/* Call to action section */

.action-box {
    background-color: var(--button-color);
    margin: 5rem;
    padding: 2rem 5rem;
    border-radius: 5px;
    display: flex;
    gap: 5em;
    justify-content: space-around;
}

.action-text h3 {
    color: var(--hero-main-text-color);
    font-size: 18px;
}

.action-text p {
    color: var(--hero-secondary-text-color);
    font-size: 12px;
}

.action-container button {
    border: 1px solid white;
    flex-basis: 150px;
    flex-shrink: 0;
}

/* Footer */

footer {
    text-align: center;
    font-size: 10px;
    color: var(--hero-secondary-text-color);
    background-color: var(--dark-bg);
    padding: 2rem;
}