:root {
    --dark-bg: #1F2937; 
    --hero-main-text-color: #F9FAF8;
    --hero-secondary-text-color: #E5E7EB;
    --button-color: #3882F6;
    --quote-text: #1F2937;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* Header */

.header {
    background-color: var(--dark-bg);
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

#logo-text {
    color: var(--hero-main-text-color);
    font-size: 24px;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 2em;
}

.nav-link{
    text-decoration: none;
    color: var(--hero-secondary-text-color);
    font-size: 18px;
}

/* Hero */

.hero {
    background-color: var(--dark-bg);
    display: flex;
    padding: 4rem;
    gap: 1rem;
    align-items: center;
}

.title {
    font-size: 48px;
    color: var(--hero-main-text-color);
    font-weight: 900;
}

.subtext {
    font-size: 18px;
    color: var(--hero-secondary-text-color);
}

.sign-up {
    background-color: var(--button-color);
    color: var(--hero-main-text-color);
    font-size: 14px;
    padding: 5px 20px;
    border-radius: 5px;
    border: none;
    width: 30%;
}

.left {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

/* Info Container */

.info-container {

}

.info-container h2 {
    text-align: center;
    font-size: 36px;
    color: var(--dark-bg);
    font-weight: 900;
    padding: 1rem
}

.boxes {
    display: flex;
    justify-content: center;
    padding: 2rem 5rem;
    gap: 2rem
}

.info p {
    text-align: center;
    font-size: 14px;
    color: var(--dark-bg);
    padding: 0.5rem
}

.info-box {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    border: 4px solid var(--button-color)
}